/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #df1428;
}

.v-middle {
vertical-align: middle;
}

.msg-success {
    background-color: #28a728;
    color: #fff;
}

.msg-error {
    background-color: #df1428;
    color: #fff;
}